# ðŸ’¡ STRATEGY

# Description

Make Money ðŸ’µ

## Rules

1. Buy when the price is below the day moving average
2. Sell when the price is above the day moving average

## Indicators

1. Day moving average

Steps:
1. Load the prices for the stocks
2. Preprocess the data used in the strategy
3. Combine the indicators into a single dataframe and add the strategy
3. Create the backtest class and run the backtest
4. Save the results into a pdf file in the output folder

# Install

In [1]:
# import library
import pandas as pd
import numpy as np

## Load the prices

In [6]:
import sys
import os
os.chdir('../')
import  src.data as data 

#Get the list of symbols
data_downloaded = await data.get_historical_price_full_crypto("BTCUSD")
historical=data_downloaded['historical']

## Preprocess the data used in the strategy

In [7]:
data = pd.DataFrame(historical)
data.columns = [x.title() for x in data.columns] #uppercase first letter
data.drop(['Adjclose','Unadjustedvolume', 'Change', 'Changepercent', 'Vwap', 'Label','Changeovertime'], axis=1,inplace=True)
data['Date']=pd.to_datetime(data['Date'])
data.set_index('Date',inplace=True) #date needs to be set as index!
data=data.iloc[::-1] #to reverse the order of the dataframe
data

,Open,High,Low,Close,Volume
Date,,,,,
2018-03-17,8321.910156,8346.530273,7812.819824,7916.879883,4426149888
2018-03-18,7890.520019,8245.509766,7397.990234,8223.679688,6639190016
2018-03-19,8344.120117,8675.870117,8182.399902,8630.650391,6729110016
2018-03-20,8619.669922,9051.019531,8389.889648,8913.469727,6361789952
2018-03-21,8937.480469,9177.370117,8846.330078,8929.280273,6043129856
...,...,...,...,...,...
2023-03-13,22193.987921,24623.733257,21885.823234,24187.655050,18272306834
2023-03-14,24186.731085,26498.513240,24039.102901,24734.138121,19260587534
2023-03-15,24733.515543,25311.993049,23932.543908,24382.071611,15541994626
2023-03-16,24381.973148,25209.585332,24202.831941,25035.145931,11329586489
2023-03-17,25030.215835,25961.216554,24910.368274,25697.604092,2960194453

## Combine the indicators into a single dataframe and add the strategy

# Combine the indicators into a single dataframe

In [ ]:
# df = pd.concat([df, df_indicators], axis=1)

# Create the backtest class and run the backtest

In [ ]:
from code import strategy

# Save the results into a pdf file in the output folder